{% extends 'main_nav.html' %}
{% load static %}
{% block title %} survey information {% endblock %}

{% block style %}
    <link href="/static/css/survey_info.css" rel="stylesheet" type="text/css">
{% endblock %}

<!--content-->
{% block content %}
    {% if survey %}
        {% for data in survey %}
        <div class="survey-info">
            <div class="form">
            <form class="survey-form">
                <div>작성자 : {{ data.writer }}</div>
                <div>설문 제목: {{ data.title }}</div>
                <div>설문 설명: {{ data.notice }}</div>
                <div>문항 수: {{ data.choice_set.all.count }}</div>
                <div>참여 수: {{ data.participant_set.all.count }}</div>
                <div>생성일: {{ data.created_at|date:'Y-m-d' }}</div>
                <div>수정일: {{ data.updated_at|date:'Y-m-d' }}</div>
                <div class="btn-list" style="text-align: center; margin-top: 24px;">
                    <a href="{% url 'survey_a:detail' data.id %}">미리보기</a>
                    <a href="{% url 'survey_a:detail' data.id %}">링크복사</a>
                    <a href="{% url 'survey_q:update' data.id %}">수정하기</a>
                </div>
            </form>
            </div>
        </div>

        <div class="content">
            <table class="board">
                <thead>
                    <tr class="header">
                        <th style="width:20%;">질문</th>
                        <th style="width:60%;">문항</th>
                        <th style="width:10%;">응답수</th>
                        <th style="width:10%;">응답비율</th>
                    </tr>
                </thead>
                <tbody>
                    {% for choice in data.choice_set.all %}
                    <tr class="even_bgcolor">
                        <td>{{ choice.choice_title }}</td>
                        <td>{{ choice.item1}}</td>
                        <td>{{ choice.answer_set.all.count }}</td>
                        <td>응답비율</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    {% endif %}
    
    <div class="csv">
        <button>CSV 다운받기</button>
    </div>

    <!-- <script defer src="/static/js/survey_info.js"></script> -->
{% endblock content %}