{% extends 'main_nav.html' %}
{% load static %}
{% block title %} survey list {% endblock %}

{% block style %}
    <link href="/static/css/survey_list.css" rel="stylesheet" type="text/css">
{% endblock %}

<!--content-->
{% block content %}
    <div class="content">
        <table class="board">
            <thead>
                <tr class="header">
                    <th style="width:10%;">순번</th>
                    <th style="width:30%">제목</th>
                    <th style="width:10%">문항</th>
                    <th style="width:10%">응답</th>
                    <th style="width:20%">작성자</th>
                    <th style="width:20%">작성일자</th>
                </tr>
            </thead>
            <tbody>
            {% if list %}
                {% for data in list %}
                <tr class="{% if forloop.counter|divisibleby:2 %}even_bgcolor{% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'survey_q:info' data.id %}">
                            {{ data.title }}
                        </a>
                    </td>
                    <td>{{ data.choice_set.all.count }}</td>
                    <td>{{ data.participant_set.all.count }}</td>
                    <td>{{ data.writer }}</td>
                    <td>{{ data.created_at|date:'Y-m-d' }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>작성된 게시글이 없습니다.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <!-- <script defer src="/static/js/survey_list.js"></script> -->
{% endblock content %}