{% extends 'main_nav.html' %}
{% load static %}
{% block title %} survey edit {% endblock %}

{% block style %}
    <link href="/static/css/survey_update.css" rel="stylesheet" type="text/css">
{% endblock %}

<!--content-->
{% block content %}
    <div class="survey-update">
        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                <div>
                    {{ question }}
                    <button type="submit">수정</button>
                </div>
            </form>
        </div>
    </div>
    <!-- <script defer src="/static/js/survey_update.js"></script> -->
{% endblock content %}